.67_4 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}.e67_4 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:1454px;
	height:934px;
	position:absolute;
}.e67_5 { 
	background-color:rgba(255, 255, 255, 1);
	width:1392px;
	height:780px;
	position:absolute;
	left:31px;
	top:119px;
}.e67_6 { 
	background-color:rgba(51.00000075995922, 103.0000014603138, 214.00000244379044, 1);
	width:1456px;
	height:95px;
	position:absolute;
	left:-2px;
	top:0px;
}.e67_13 { 
	color:rgba(51.00000075995922, 103.0000014603138, 214.00000244379044, 1);
	width:151px;
	height:30px;
	position:absolute;
	left:103px;
	top:177px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e67_15 { 
	color:rgba(255, 255, 255, 1);
	width:436px;
	height:64px;
	position:absolute;
	left:35px;
	top:15px;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e67_16 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:30px;
	position:absolute;
	left:251px;
	top:177px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e67_17 { 
	color:rgba(51.00000075995922, 103.0000014603138, 214.00000244379044, 1);
	width:151px;
	height:30px;
	position:absolute;
	left:103px;
	top:237px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e67_40 { 
	color:rgba(51.00000075995922, 103.0000014603138, 214.00000244379044, 1);
	width:587px;
	height:30px;
	position:absolute;
	left:438px;
	top:237px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e67_42 { 
	color:rgba(51.00000075995922, 103.0000014603138, 214.00000244379044, 1);
	width:587px;
	height:30px;
	position:absolute;
	left:438px;
	top:177px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e67_19 { 
	color:rgba(0, 0, 0, 1);
	width:263px;
	height:30px;
	position:absolute;
	left:251px;
	top:237px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e67_30 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:1398px;
	height:40px;
	position:absolute;
	left:31px;
	top:128px;
}.e67_31 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:30px;
	position:absolute;
	left:103px;
	top:133px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e67_32 { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:30px;
	position:absolute;
	left:437px;
	top:133px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e67_33 { 
	color:rgba(0, 0, 0, 1);
	width:263px;
	height:30px;
	position:absolute;
	left:250px;
	top:133px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e67_35 { 
	width:33px;
	height:33px;
	position:absolute;
	left:1373px;
	top:31px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.67_36 { 
	border:2px solid rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
}.e67_36 { 
	width:1390px;
	height:0px;
	position:absolute;
	left:39px;
	top:222px;
}.67_37 { 
	border:2px solid rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
}.e67_37 { 
	width:1390px;
	height:0px;
	position:absolute;
	left:39px;
	top:283px;
}.e67_41 { 
	color:rgba(255, 255, 255, 1);
	width:587px;
	height:30px;
	position:absolute;
	left:432px;
	top:34px;
	font-family:Roboto;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}